@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

section {
  margin: 35px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.header .nav_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  font-size: 1.8rem;
}
.header .nav_items li {
  padding: 0 10px;
}
.header .nav_items li a {
  text-decoration: none;
  color: #000000;
  padding: 2px 6px;
  border-radius: 10%;
}
.header .nav_items li a:hover {
  background-color: #000000;
  color: #ffffff;
}
.header .nav_items .signup_btn {
  color: white;
  text-decoration: none;
  background-color: #000000;
  padding: 4px 10px;
  border-radius: 10%;
  display: flex;
}
.header .nav_items .signup_btn a {
  color: white;
  text-decoration: none;
}
.header .logo img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .nav_items {
    display: none !important;
  }
}
.banner {
  background-color: #c2c8da;
  border-radius: 20px;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.bannerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bannerText h1 {
  font-size: 6rem;
  font-weight: bold;
  padding-top: 5%;
  padding-left: 5%;
}
.bannerText .textbg {
  background: url(../images/text_rectengle_bg.png);
}
.bannerText p {
  font-size: 2rem;
  padding-left: 5%;
  margin-top: 2%;
}
.bannerText .btndiv {
  width: 80%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: 1fr 1.9fr;
}
.bannerText .btndiv .btnStyle {
  width: 100%;
}
.bannerText .btndiv .btnShop {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannerText .btndiv .btnShop a {
  color: white;
  text-decoration: none;
  background-color: #000000;
  padding: 4px 10px;
  border-radius: 10%;
  display: flex;
  font-size: 2rem;
}
.bannerText .btndiv .btnShop a a {
  color: white;
  text-decoration: none;
}

.bannerImage img {
  width: 100%;
  margin: 0 auto;
  max-height: 580px;
}

@media only screen and (max-width: 600px) {
  .banner {
    background-color: #c2c8da;
    border-radius: 20px;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
  }
  .bannerImage {
    display: none;
  }
}
#partners {
  margin-top: 20px;
  background-color: #ffec61;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffec61;
}
.partners img {
  max-width: 120px;
}

.newArrivals {
  margin-bottom: 10px;
}
.newArrivals h1 {
  font-size: 3rem;
}

.arrItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
}

.itemCard {
  border-radius: 4%;
  box-shadow: 8px 8px 5px #c2c8da;
  margin: 5px 0;
}

.itemImg img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.itemInfo {
  padding: 0 4%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.itemInfo h3 {
  font-size: 2.5rem;
}
.itemInfo p {
  font-size: 1.8rem;
}
.itemInfo .itemArrow {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (max-width: 600px) {
  .arrItems {
    grid-template-columns: repeat(2, 1fr);
  }
  .itemInfo h3 {
    font-size: 1.5rem;
  }
  .itemInfo p {
    font-size: 1rem;
  }
}
.saleDay {
  background-color: #ffec61;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.saleInfo {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.saleInfo .recBg {
  padding-left: 2%;
  padding-top: 2%;
  padding-right: 2%;
  display: inline;
  background: url(../images/text_rect_white.png);
  background-repeat: no-repeat;
}
.saleInfo h1 {
  font-size: 6rem;
  font-weight: 700;
}
.saleInfo p {
  font-size: 1.7rem;
  width: 70%;
}
.saleInfo h3 {
  margin-top: 2%;
  font-size: 2rem;
}
.saleInfo .btnShop {
  margin-top: 12px;
}
.saleInfo .btnShop a {
  font-size: 2rem;
  padding: 8px 15px;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5%;
}

.saleImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.saleImg img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .saleDay {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 1fr;
  }
  .saleInfo {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  .saleInfo .btnShop {
    margin-bottom: 40px;
  }
}
.youngsFav {
  margin-bottom: 10px;
  margin-top: 30px;
}
.youngsFav .favHeader {
  font-size: 3rem;
}

.favItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2%;
}

#footer {
  padding: 2%;
  background-color: #000000;
  color: rgb(223, 217, 217);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 3%;
}
.footer h1 {
  font-size: 2.2rem;
}
.footer p {
  font-size: 1.3rem;
}
.footer i {
  color: #ffec61;
  font-size: 2.5rem;
  padding-right: 3%;
  margin-top: 8px;
} /*# sourceMappingURL=main.css.map */
